.inner_box{
    border: 2px;
    border-style: solid;
    width: 70%;
}
.outer_box{
    border:2px;
    border-style: solid;
    width: 60%;
}
.price_box{
    position: relative;
    left: 80%;
    border:2px;
    border-style: solid;
    width: 10%;
}