.inner_box{
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    
}
.body{
    background-color: rgb(238, 237, 237);
}
.main_box{
    display: flex;
    flex-direction:row;
}    
.outer_box{
    background-color: white;
    margin-left: 20px;
    width: 70%;
}
.imageBox{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.productAddBox{
    border: 1px;
    font-size: large;
    border-style: solid;
    border-radius: 3px;
    width: 30px;
    justify-content: center;
    margin-left: 1px;
}
.buttonsContainer{
    display: inline-flex;
    
    
}
.price_box{
    position: relative;
    margin-left: 50px;
    border:2px;
    border-style: solid;
    width: 30%;
    height: 400px;
    background-color: white;
}
.productImg{
    width: 80px;
    cursor: pointer;
}
.productAddButton{
    height: 20px;
    margin-top: 20px;
}
.productName{
    font-size: large;
    font-weight: 600;
    position: relative;
}
.sellerName{
    font-size: medium;
    font-weight: 500;
    opacity: 60%;
}
.price{
   font-size: large;
   font-weight: 600; 
   display: flex;
   flex-direction: column;
}
.removeButton{
    width: 80px;
    margin-top: 16%;
    margin-left: 20px;
    border-color: transparent;
    background-color: transparent;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}
.delivery{
    margin-top: 20px;
    margin-left: 20%;
    opacity: 60%;
    font-weight: 600;

}
.placeOrder{
    height: 40px;
    width: 20%;
    margin-left: 70%;
    border-color: transparent;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
    background-color: rgb(224, 95, 48);
}
.priceTable{
    width: 100%;
    justify-content: space-evenly;
    border-collapse: separate;
    border-spacing: 0 2em;
    margin-left: 10px;
}
.totalTable{
    border-collapse: separate;
    border-spacing: 0 1em;
    width: 100%;
    margin-left: 20px;
    font-size: large;
    font-weight: 700;
    margin-left: 10px;
    text-align: left;
}
.horizontalLine{
    border-width: 1px;
    border-style: solid;
    
}
.saveOrder{
    margin-left: auto;
    position: relative;
    text-align: center;
}
.priceDetails{
    margin-left: 20px;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}
.priceContainer{
    display: flex;
    flex-direction: row;
}
.originalPrice{
    text-decoration: line-through;
    margin-top: 20px;
    margin-left: 10px;
}
.percentageOff{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    color: green;
}
.offersAvailable{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    color: green;
}